<component name="ArtifactManager">
  <artifact type="war" name="springConfigServer:war">
    <output-path>$PROJECT_DIR$/learning/springCloudLearning/springConfigServer/target</output-path>
    <root id="archive" name="spring-config-server-learning.war">
      <element id="artifact" artifact-name="springConfigServer:war exploded" />
    </root>
  </artifact>
</component>